<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <img src="https://i.imgur.com/xdoglyx.png" width="50px" height="50px">
      <a href="" class="nav">option 1</a>
      <a href="" class="nav">option 2</a>
      <a href="" class="nav">option 3</a>
    </nav>
    <h1><%= title %></h1>
    <div></div>


    
    <footer>
      <img src="https://i.imgur.com/xdoglyx.png" width="50px" height="50px">
      <p>Contact US</p>
      <div><strong>(310)123-4567 ~ sample@email.com ~ </strong></div>
    </footer>
  </body>
</html>
